body{
    background-color: #2f616c;
}
header{
    background-color: #101c28;

}
header nav ul{
    display:flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}
header nav ul li{
padding : 15px;
}
header nav ul li a{
    color:#faebd1;
    font-size:25px;
    padding: 15px;
    text-decoration: none;
    transition: color 0.5s ease;
       
}
header nav ul li a:hover{
    color: #ff7c1d;

}
aside{
    
    padding-right: 15px;
    margin-right: 15px;
    float: left;
    }
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    color:#FFC300 ;
  text-align:center;
  font-size:60px;
}
p{
  color:#faebd1;
 }
h2{
  color:#ff7c1d;
}
.container2 {
    border-radius: 5px;
    background-color: #101c28;
    padding: 20px;
  }
  lable{
    color:#faebd1;
  }
  input,textarea{
    width:100%;
    padding:10px;
    border: 2px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
    margin-top:5px;
    margin-bottom:15px;
  }
  button{
    color:#ffffff;
    background-color:#4CAF50;
    border:none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor:pointer;
  }